*{
    margin: 0, auto;
    padding: 0px;
}

*img{
    width: 50%;
    float: right;
}

*a{
    text-decoration: none;
    color: #B4045f;
}

*a:hover{
    background-color: #336699;
    color: #ffffff;
}

body{
    font-size: 80%;
    font-family: Arial, sans-serif;
    background-color: #B4045f;
}

#contenedor{
    width: 750px;
    margin: auto;
    height: 100%;
    background-color: #bef781;
}

#logo{
    height: 60px;
    padding-left: 10px;
    padding-top: 15px;
    background-color: #eee;
    color: #79b30b;
    background-image: url(logocabecera.jpg);
}

#menuhorizontal{
    width: 100%;
}

#pie{
    clear: both;
    background-color: #333;
    height: 30px;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}

#pie .enlaces{
    float: left;
}

#pie .enlaces a{
    text-decoration: none;
    color: white;
}

#pie a:hover{
    background-color:  #336699;
    color: #ffffff;
}